.logo-div {
  /* width: 50px;
    height: 50px; */
  display: inline-block;
}

.Navbar {
  width: 100%;
  height: 20%;
  background-color: black;
  display: flex;
  justify-content: space-between; /* Distribute content between logo and navigation */
  align-items: center; /* Vertically align content */
  margin: 0;
  padding: 20px 0px; /* Add padding to separate logo and navigation */
}

.NavbarNavigationLink {
  text-decoration: none;
  width: fit-content;
  display: inline-block;
  margin: 0 10px;
  color: aliceblue;
  font-size: medium;
  font-weight: 900;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  padding: 10px 20px;
}

.NavbarNavigationLink:hover {
  color: teal;
  transition: 0.3s ease-in-out;
}
